<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.lyraphase.HydraKillerLauncher.truncatesyndication</string>
	<key>BundleProgram</key>
	<string>truncatesyndication</string>
	<key>ProgramArguments</key>
	<array/>
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.lyraphase.HydraKillerLauncher.truncatesyndication.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.lyraphase.HydraKillerLauncher.truncatesyndication.out</string>
</dict>
</plist>
